<h1>Diary</h1>
<hr>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Form goes here -->
        <app-entry-form (addEntry)="addNewEntry($event)"></app-entry-form>
      </div>
      <ol>
      <div class="col-md-6" *ngFor='let entry of entries;let i = index'>
        <div class="titleHold"><li>{{entry.title}} created {{entry.createDate|date|uppercase}}</li></div>
          <button class="btn btn-success" (click)='toggleDetails(i)'>Show Entry Details</button>
          <app-diary-details *ngIf="entry.showDetails" [entry] = 'entry' (isComplete)='deleteEntry($event,i)'></app-diary-details>
        </div>
      </ol>
    </div>

  </div>
